/**********
reset 
***********/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**********
header
**********/

header{
    background-color: #0084fd;
}

header .col{
    width: 50%;
    height: 50px;
}

/************
jumbo
************/

.jumbo, 
.planning,
.partners,
.with-us,
.about{
    padding: 20px 30px;
}

.jumbo .card{
    height: 350px;
    background-color: #b5ddff;
    border-radius: 40px;
    text-align: center;
}

.jumbo .colx2, .col{
    margin-bottom: 30px;
}

/**************
planning
***************/

.planning .col{
    width: 100%;
}

.planning .card{
    background-color: white;
    height: 250px;
    border-radius: 40px;
    text-align: center;
}

/********************
partners
********************/

.partners .col{
    width: 100%;
}

.partners .card{
    background-color: #9792e4;
    height: 150px;
    border-radius: 40px;
    text-align: center;
}

.partners .card-special{
    background-color: wheat;
    height: 150px;
    text-align: center;
}

/******************
with us 
******************/

.with-us .card{
    background-color: #ffffff;
    height: 150px;
    border-radius: 40px;
    text-align: center;
}

.with-us .col:first-child .card{
    background-color: #9792e4;
    height: 150px;
    border-radius: 40px;
    text-align: center;
}

/******************
about
******************/

.about .card{
    background-color: #9792e4;
    height: 150px;
    border-radius: 40px;
    text-align: center;
}

.about .colx2{
    margin-bottom: 30px;
}

/************
colonne mobile
*************/

.row{
    display: flex;
    flex-wrap: wrap;
}

.colx2,
.col{
    width: 100%;
}

/*************
utility
*************/

.padding-section{
    padding-top: 40px;
    padding-bottom: 20px;
}

.bg-purple{
    background-color: #9792e4;
}

/**********************
MEDIA*
**********************/

@media screen and (min-width:600px){

    .colx2,
    .col{
        margin:15px;
    }

    .jumbo .colx2, .col{
        margin-bottom: 15px;
    }
    

    .colx2{
        width: calc(100% / 3 * 2 - 30px);
    }


    .col{
        width: calc(100% / 3 - 30px);
    }
    
    .with-us .col:first-child{
        width: 100%;
    }
}

@media screen and (min-width: 1140px){

    .container{
        width: 1140px;
        margin: 0 auto;
    }

}