/**********
reset 
***********/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

/**********
header
**********/

header{
    background-color: #0084fd;
    padding: 10px 30px;
}

header .col{
    width: calc(100% / 2);
    height: 50px;
    margin: 0px;
}

header .hamburger{
    width: 60px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(70deg) brightness(105%) contrast(102%);
}

.nav{
    display: none;
}

/************
jumbo
************/

.jumbo, 
.planning,
.partners,
.with-us,
.about,
.pricing{
    padding: 20px 30px;
}

.jumbo .card{
    background-color: #b5ddff;
    text-align: center;
    border-radius: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    height: 100%;
}

.jumbo .col:first-child .card{
    padding-bottom: 0px;
}

.jumbo h2{
    color: #0386fd;
    margin-bottom: 30px;
}

.jumbo .store{
    background-color: #0386fd;
    border-radius: 40px;
    padding: 10px;
    max-width: 200px;
    margin: 0 auto;
    font-weight: 500;
    color: white;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
}

.jumbo .store img{
    width: 39px;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7484%) hue-rotate(236deg) brightness(103%) contrast(105%);
}

.jumbo p{
    margin-bottom: 30px;
    line-height: 2;
    font-weight: 500;
    color: #5a6e7f;
}

.jumbo .phone{
    width: 60%;
}

.jumbo .icons{
    width: 50%;
    margin-bottom: 20px;
    filter: brightness(0) saturate(100%) invert(36%) sepia(87%) saturate(3757%) hue-rotate(196deg) brightness(105%) contrast(101%);
}



/**************
planning
***************/

.planning .col:first-child .card{
    text-align: left;
}

.planning .col:first-child .card > .card-img{
    text-align: center;
}

.planning .col:first-child .card .card-img > img{
    width: 100%;
    margin-bottom: 50px;
}

.planning .col:first-child .card > h2{
    color: white;
    font-size:45px;
    margin-bottom: 50px;
}

.planning .col:first-child .card > p{
    color: white;
    line-height: 2;
    font-weight: 500;
}

.planning .col:last-child .card{
    background-color: white;
    border-radius: 40px;
    text-align: center;
    padding: 0px 20px;
    padding-bottom: 20px;
}

.planning .col:last-child .card > img:first-child{
    width: 100%;
    margin-bottom: 20px;
}

.planning .col:last-child .card > h3{
    margin-bottom: 20px;
}

.planning .col:last-child .card > p{
    font-weight: 400;
    font-style: italic;
    margin-bottom: 20px;
}

.planning .card .south{
    width: 30px;
    padding: 10px 20px;
    border-radius: 100%;
    margin: 0 auto;
    background-color: #9792e4;
    display: flex;
    justify-content: center;
    align-items: center;
}

/********************
partners
********************/

.partners .card{
    background-color: #9792e4;
    border-radius: 40px;
    text-align: center;
    height: 100%;
}

.partners .col:first-child > .card{
    background-color: #fff;
    text-align: center;
}

.partners .col:first-child .card > h3{
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 20px;
}

.partners .col:first-child .card > h2{
    color: #9792e4;
    font-size:45px;
    margin-bottom: 20px;
}

.partners .col:first-child .card > p{
    font-size:20px;
    font-weight: 450;
    line-height: 2;
    margin-bottom: 20px;
}

.partners .col .card{
    padding: 50px;
}

.partners .col .card .photo{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.partners .col .card .text p{
    color: white;
    line-height: 2;
    margin-bottom: 20px;
}

.partners .col .card .text p > span{
    color: white;
    font-size: x-large;
    margin-right: 5px;
    margin-left: 5px;
}

.partners .col .card .text h3{
    color: white;
    font-size: 30px;
}

.v1{
    background-image: url("../img/testimonial1.jpg");
}

.v2{
    background-image: url("../img/testimonial2.jpg");
}

.v3{
    background-image: url("../img/testimonial3.jpg");
}

.v4{
    background-image: url("../img/about.jpg");
}


/******************
with us 
******************/

.with-us .card{
    background-color: #ffffff;
    border-radius: 40px;
    padding: 20px;
}

.with-us .col:first-child .card{
    background-color: #9792e4;
    text-align: center;
    padding: 0px;
    padding-top: 35px;
    font-size: 10px;
}

#h2-with-us{
    color: white;
    font-size: 40px;
}

.with-us .card{
    background-color: #ffffff;
    border-radius: 40px;
    padding: 40px 30px;
}

.with-us .card h2{
    color: #9792e4;
    font-size: 60px;
    margin-bottom: 30px;
}

.with-us .card h3{
    color: #9792e4;
    font-size: 30px;
    margin-bottom: 30px;
}

.with-us .card p{
    color: #949494;
    line-height: 2;
    font-weight: 500;
    margin-bottom: 20px;
}

.with-us .card .more{
    padding: 10px 40px;
    border: none;
    background-color: #9792e4;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.with-us .card .more:hover{
    background-color: #aea9eb;
}


/******************
about
******************/

.about .col:first-child .card{
    padding: 90px 20px;
    padding-bottom: 0px;
}

.about .card > h2{
    color: #9792e4;
    font-size: 35px;
    margin-bottom: 40px;
}

.about .card > p{
    line-height: 2;
    font-size: 20px;
    margin-bottom: 20px;
}

.about .photo{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 30px;
}

.about .photo > span{
    font-size: 60px;
    color: #9792e4;
    position: absolute;
    right: 0px;
    top: 0px;
}

.about .card h3{
    color: #9792e4;
    font-size: 30px;
    margin-bottom: 30px;
}

.about .card .linkedin{
    padding: 20px 30px;
    background-color: #9792e4;
    border-radius: 30px;
    max-width: max-content;
}

.about .card .linkedin:hover{
    background-color: #aea9eb;
}

.linkedin > i{
    font-size: 25px;
    margin-right: 10px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(7452%) hue-rotate(276deg) brightness(103%) contrast(108%);
}

.linkedin > span{
    font-size: 20px;
    color: white;
}

/******************
pricing
******************/

.pricing .card{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 0px;
}

.pricing .card h4{
    color: white;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 30px;
}

.pricing .card h3{
    color: white;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
}

.pricing .card h2{
    color: #fdc15f;
    font-size: 100px;
    font-weight: 500;
    margin-bottom: 30px;
}

.pricing .card p{
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
    margin-bottom: 40px;
}

.pricing .card p:last-child{
    font-size: 15px;
}

.pricing .card button{
    background-color: white;
    color: #8681d3;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 40px;
    border: none;
    margin-bottom: 30px;
}

.pricing .card button:hover{
    background-color: rgb(243, 234, 234);
}

.pricing .card a{
    color: white;
    text-decoration: none;
}

.pricing .card a:hover{
    text-decoration: underline;
}

/**************
footer
**************/

footer{
    background-color: #333333;
}

/************
layout
*************/

.container{
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: 100%;
    margin-bottom: 30px;
}

/*************
utility
*************/

.padding-section{
    padding-top: 40px;
    padding-bottom: 20px;
}

.bg-purple{
    background-color: #9792e4;
}

.align-l{
    justify-content: left;
    align-items: center;
}

.align-r{
    justify-content: right;
    align-items: center;
}

.align-x{
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
}

/**********************
MEDIA*
**********************/

@media screen and (min-width:768px){

    .col{
        margin:15px;
        width: calc(100% / 3 - 30px);
    }

    .jumbo .col:first-child{
        width: calc(100% / 3 * 2 - 30px);
    }

    .jumbo .col:first-child .card{
        text-align: left;
    }

    .jumbo .col:first-child .card .store{
        width: 300px;
    }
    
    .with-us .col:first-child{
        width: 100%;
    }

    .with-us .col{
        width: calc(100% / 2 - 30px);
    }

    .about .col:first-child{
        width: calc(60% - 30px);
    }

    .about .col:last-child{
        width: calc(40% - 30px);
    }

    .pricing .col,
    .planning .col,
    .partners .col,
    footer .col
    {
        width: 100%;
    }

    /**********
    jumbo
    **********/

    .jumbo .store{
        margin: 0;
        margin-bottom: 40px;
    }


    /*************
    planning
    *************/

    .planning .card .south{
        width: 50px;
        padding: 20px 30px;
        border-radius: 100%;
        margin: 0 auto;
        background-color: #9792e4;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .planning .card .south:hover{
        background-color: #aba6f8;
    }

    /***************
    partners
    ***************/

    #partners{
        padding-bottom: 60px;
    }

    .partners .col:not(:first-child) .card{
        display: flex;
        padding: 10px 10px;
    }
    
    .partners .col .card .photo{
        border-radius: 50%;
        width: 250px;
        height: 250px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .partners .col .card .text{
        padding-top: 25px;
        padding-left: 30px;
        padding-right: 100px;
        width: 60%;
        text-align: left;
    }

    /**************
    about
    **************/

    .about .col:last-child .card{
        padding: 90px 20px;
        padding-bottom: 0px;
    }

    /**************
    pricing
    **************/


}


@media screen and (min-width: 1200px){

    .container{
        max-width: 1140px;
        margin: 0 auto;
    }

    .with-us .col{
        width: calc(100% / 3 - 30px);
    }

    .planning .col{
        width: calc(100% / 2 - 30px);
    }

    /**********
    header
    **********/

    header .hamburger{
        display: none;
    }

    header .nav{
        display: flex;
        gap: 50px;
        list-style-type: none;
    }

    header .nav > li{
        padding: 5px 0px;
    }

    header .nav > li:last-child{
        background-color: white;
        border-radius: 40px;
        padding: 5px 20px;
    }

    header .nav > li > a{
        text-decoration: none;
        color: white;
        font-size: smaller;
    }

    header .nav > li:last-child > a{
        color: black;
    }

    header .nav > li > a:hover{
        text-decoration: underline;
    }

    /**********
    jumbo
    **********/

    .jumbo .col:first-child .card{
        display: flex;
    }

    .phone-container{
        width: 40%;
        display: flex;
        align-items: flex-end;
    }

    .text-container{
        width: 60%;
    }

    .jumbo .phone{
        width: 100%;
    }

    /*************
    planning
    *************/

    .planning .col:last-child{
        display: flex;
        align-items: flex-end;
        justify-content: left;
    }

    /*************
    partners
    **************/

    .partners .col .card .text{
        padding-top: 65px;
        padding-left: 30px;
        padding-right: 100px;
        width: 60%;
        text-align: left;
    }

}

@media screen and (min-width: 1300px){
}