/**********
reset 
***********/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**********
header
**********/

header{
    background-color: #0084fd;
}

header .col{
    width: 50%;
    height: 50px;
}

/************
jumbo
************/

.jumbo, 
.planning,
.partners,
.with-us,
.about,
.pricing{
    padding: 20px 30px;
}

.jumbo .card{
    height: 350px;
    background-color: #b5ddff;
    border-radius: 40px;
    text-align: center;
}

/**************
planning
***************/

.planning .col{
    width: 100%;
}

.planning .card{
    background-color: white;
    height: 250px;
    border-radius: 40px;
    text-align: center;
}

/********************
partners
********************/

.partners .col{
    width: 100%;
}

.partners .card{
    background-color: #9792e4;
    height: 150px;
    border-radius: 40px;
    text-align: center;
}

.partners .col:first-child > .card{
    background-color: #fff;
    height: 150px;
    text-align: center;
}

/******************
with us 
******************/

.with-us .card{
    background-color: #ffffff;
    height: 150px;
    border-radius: 40px;
    text-align: center;
}

.with-us .col:first-child .card{
    background-color: #9792e4;
    height: 150px;
    border-radius: 40px;
    text-align: center;
}

/******************
about
******************/

.about .card{
    background-color: #9792e4;
    height: 150px;
    border-radius: 40px;
    text-align: center;
}

/******************
pricing
******************/

.pricing .card{
    background-color: #ffffff;
    height: 150px;
    border-radius: 40px;
    text-align: center;
}

/**************
footer
**************/

footer{
    background-color: #333333;
}

/************
layout
*************/

.container{
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: 100%;
    margin-bottom: 30px;
}

/*************
utility
*************/

.padding-section{
    padding-top: 40px;
    padding-bottom: 20px;
}

.bg-purple{
    background-color: #9792e4;
}

/**********************
MEDIA*
**********************/

@media screen and (min-width:600px){

    .col{
        margin:15px;
        width: calc(100% / 3 - 30px);
    }

    .jumbo .col:first-child{
        width: calc(100% / 3 * 2 - 30px);
    }
    
    .with-us .col:first-child{
        width: 100%;
    }

    .with-us .col{
        width: calc(100% / 2 - 30px);
    }

    .about .col:first-child{
        width: calc(70% - 30px);
    }

    .about .col:last-child{
        width: calc(30% - 30px);
    }

    .pricing .col{
        width: 100%;
    }

}

@media screen and (min-width: 1200px){

    .container{
        max-width: 1140px;
        margin: 0 auto;
    }

    .with-us .col{
        width: calc(100% / 3 - 30px);
    }

    .planning .col{
        width: calc(100% / 2 - 30px);
    }

}